button{
    width: 200px;
    padding: 2%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: rgb(236, 223, 213);
    color: rgb(0, 0, 0);
    border: none;
    transition: 0.5s;
}

    button:hover{
        background-color: rgb(51, 121, 65);
        color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
    }